/* *********************TAG SELECTOR*************************** */

h1 {
  color: red;
  font-size: 200px;
}

img:hover {
  background-color: gold;
}

/* *********************class SELECTOR*************************** */

.bacon {
  background-color: red;
}

.apple {
  background-color: green;
}

/* *********************id SELECTOR*************************** */

#heading {
  color: blue;
}
